<div class="container">
  <h3 class="first">Rooms</h3>
  <p-table [value]="rooms" styleClass="table-borders" rowHover="true" responsive="true" columnResizeMode="expand" resizeableColumns="true">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let room of roomColumns">
          {{room.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tenant>
      <tr>
        <td *ngFor="let room of roomColumns">
          {{tenant[room.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>