<div class="table-wrapper">
  <div class="center-wrapper">
    <h3 class="first">Rooms</h3>
    <table>
      <tr>
        <th>Room Number</th>
        <th colspan="2">Tenant1</th>
        <th colspan="2">Tenant2</th>
        <th colspan="2">Tenant3</th>
        <th colspan="2">Tenant4</th>
        <th>Room Empty?</th>
      </tr>
      <tr>
        <td></td>
        <td>Name</td>
        <td>Number</td>
        <td>Name</td>
        <td>Number</td>
        <td>Name</td>
        <td>Number</td>
        <td>Name</td>
        <td>Number</td>
        <td></td>
      </tr>
      <tr *ngFor="let room of rooms" (click)="selectedRoomDetails(room)">
        <td>{{room.roomNum}}</td>
        <td>{{room.tenant1.name}}</td>
        <td>{{room.tenant1.number}}</td>
        <td>{{room.tenant2.name}}</td>
        <td>{{room.tenant2.number}}</td>
        <td>{{room.tenant3.name}}</td>
        <td>{{room.tenant3.number}}</td>
        <td>{{room.tenant4.name}}</td>
        <td>{{room.tenant4.number}}</td>
        <td>{{room.empty}}</td>
      </tr>
    </table>
  </div>
</div>