th,thead,tbody,tr,td {
    border: 1px solid #ade;
}

td{
    width: 175px;
}
/* 
.table-wrapper {
    position: relative;
}

.table-wrapper .center-wrapper {
    position: absolute;
    left: 25%;
}

.parent .center-wrapper .center-content {
    position: relative;
    left: -25%;
}
tr.row-data :hover {
    background-color: rosybrown;
} */